@import 'breakpoints';

:root {
  --clr-background-main: #878ecc;
  --clr-background-secondary: #14abd9;

  --clr-text-main: #e6e6e6;

  --clr-border-main: #beb7b7;
  --clr-border-bounding-box: #d32a2a;

  --clr-btn-main: #1279ef;
  --clr-btn-main-hover: #7dabe5;

  --border-radius: 20px;

  --footer-height: 40px;
}
