@import '../../assets/styles/breakpoints';

:host {
  min-height: 800px;
  height: auto;
  width: 100%;
}

.image-upload-container {
  height: auto;
  min-height: 800px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  border-radius: var(--border-radius);

  @media(max-width: map-get($breakpoints, large)) {
    flex-direction: column;
    min-height: 100%;
  }

  .left-side {
    height: auto;
    width: 75%;
    flex-direction: column;
    padding: 16px;

    @media(max-width: map-get($breakpoints, large)) {
      width: 100%;
    }

    input[type="file"] {
      display: none;
    }

    label {
      display: inline-block;
      padding: 12px 24px;
      cursor: pointer;
      background-color: var(--clr-btn-main);
      color: var(--clr-text-main);
      border-radius: var(--border-radius);
      text-align: center;
      transition: ease-in-out .3s;

      &:hover {
        background-color: var(--clr-btn-main-hover);
      }
    }

    .image-preview-container {
      margin-top: 20px;
      text-align: center;
      position: relative;

      .bounding-div {
        position: absolute;
        border: 3px dashed var(--clr-border-bounding-box);
      }
    }
  }

  .right-side {
    height: auto;
    min-height: 800px;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-left: 1px solid var(--clr-border-main);

    @media(max-width: map-get($breakpoints, large)) {
      min-height: unset;
      width: 100%;
    }

    .controls-group {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 8px;

      .control-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 8px;

        label {
          color: var(--clr-text-main);
        }

        input {
          width: 100px;
        }
      }
    }
  }
}
